:root {
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-grey: #CCCCCC;
  --color-dark-grey: #333333;
  --font-primary: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --border-radius-card: 20px;
  --border-radius-pill: 50px;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-black);
  color: var(--color-white);
  font-family: var(--font-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font-family: inherit;
}